<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198427738030-5tlmu1l2bbt6nirhje788vg31lrvgvjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198427738030-5tlmu1l2bbt6nirhje788vg31lrvgvjl</string>
	<key>API_KEY</key>
	<string>AIzaSyAjZDcwCLzO6eArVmLw6_BAYordLqVrB5g</string>
	<key>GCM_SENDER_ID</key>
	<string>198427738030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-5c4ab</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-5c4ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198427738030:ios:535a7ccf010d8aebc2d23f</string>
</dict>
</plist>